:root {
  --global-font: 'Poppins', sans-serif;
  --global-font-multiplier: 0.9;
  --global-font-weight: 400; /* ultra-thin 200, thin 300, body 400, thick 500, bold 600, black 800 */
  --global-margin: 1rem;
  --global-margin-half: 0.5rem;
  --global-padding: 1rem;
  --global-padding-half: 0.5rem;
  --global-border-radius: 16px;
  --global-transition-speed: 350ms;
  --global-transition-speed-fast: 100ms;

  --input-padding: 0.5rem 1rem 0.5rem 1rem;

  --font-size-massive: calc(4rem * var(--global-font-multiplier));
  --font-size-huge: calc(3.5rem * var(--global-font-multiplier));
  --font-size-big: calc(3rem * var(--global-font-multiplier));
  --font-size-title-large: calc(2.8rem * var(--global-font-multiplier));
  --font-size-title: calc(2.5rem * var(--global-font-multiplier));
  --font-size-heading: calc(2rem * var(--global-font-multiplier));
  --font-size-subheading: calc(1.5rem * var(--global-font-multiplier));
  --font-size-body-large: calc(1.25rem * var(--global-font-multiplier));
  --font-size-body: calc(1rem * var(--global-font-multiplier));
  --font-size-body-small: calc(0.75rem * var(--global-font-multiplier));
  --font-size-tiny: calc(0.5rem * var(--global-font-multiplier));
  --font-size-microscopic: calc(0.25rem * var(--global-font-multiplier));

  --ultra-thin: 200;
  --thin: 300;
  --body: 400;
  --thick: 500;
  --bold: 600;
  --bolder: 700;
  --heavy: 800;

  --breakpoint-mobile: 767px;
  --breakpoint-tablet: 768px;

  --upload-icon: url('../_assets/icons/upload.png');
  --save-icon: url('../_assets/icons/save.png');
  --create-icon: url('../_assets/icons/create.png');
  --menu-filter-selected-icon: url('../_assets/icons/menu-filter-selected.svg');
  --menu-filter-unselected-icon: url('../_assets/icons/menu-filter-selected.svg');
}

#lite {
  --color-background: #ffffff;
  --color-text: #222222;
  --color-text-menu: #ffffff;
  --color-bright-text: #bdc7d7;

  --global-box-shadow-color: #55658aba;
  --global-menu-box-shadow-color: #0b1f4e3b;

  --color-primary: #576890;
  --color-primary-transparent: #55658a31;
  --color-secondary: #42527b;
  --color-secondary-transparent: #42527b72;
  --color-tertiary: #576890;
  --color-quaternary: #67779e;
  --color-quaternary-transparent: #778fba31;
  --color-quinary: #8e98b5;
  --color-quinary-bright: #d9dee9;
  --color-quinary-off-bright: #6b6f7a;

  --color-odd-row: #ffffff;
  --color-even-row: #eff0f4; 
  --color-row-hover: #cdd6e6;
  --color-highlighted: #92a1c6;
  --color-highlighted-text: #42527b;
  --color-input-text: #222222;
  --color-sheet-title: #35405d;

  --color-entry-header-text: #4c5670;
  --color-entry-text: #283558;
  --color-entry-checkbox: #ced0d9;
  --color-entry-field-type: #c8c9cc;
  --color-entry-details-background: #f4f4fb;;
  --color-entry-details-background-mobile: #ffffff;
  --color-entry-details-field: #c9d1e33b;
  --color-entry-details-field-bg: #ffffff;

  --color-glass: #b8baf61c;
  --color-border: #222a42;
  
  --color-menu-plus: #55658a;
  --color-cover: #dce6f647;

  --color-undenary: #413768;
  --color-duodenary: #352b57;
  
  --color-green: #b3f0d0;
  --color-green-toast: #418d66;
  --color-green-toast-icon-primary: #418d66;
  --color-green-toast-icon-secondary: #b3f0d0;
  --color-yellow: #fac70d;
  --color-red: #e6bdbd;
  --color-red-toast: #9e6060;
  --color-red-toast-icon-primary: #9e6060;
  --color-red-toast-icon-secondary: #e6bdbd;

  color: var(--color-text);
  background: #fafbfe;

  height: 100%;
  width: 100%;

  transition:
  background-color 1000ms ease,
  background 1000ms ease;
}

#dark {
  --color-background: #0d0e1e;
  --color-text: #ffffff;
  --color-text-menu: #ffffff;
  --color-bright-text: #98aad1;

  --global-box-shadow-color: #0e0f1f;
  --global-menu-box-shadow-color: #24305021;

  --color-primary: #222745;
  --color-primary-transparent: #55658a31;
  --color-secondary: #111229;
  --color-secondary-transparent: #42527b31;
  --color-tertiary: #222745;
  --color-quaternary: #3f4a6d;
  --color-quaternary-transparent: #3f4a6d31;
  --color-quinary: #b0bad6;
  --color-quinary-bright: #283146;
  --color-quinary-off-bright: #374159;

  --color-cover: #0f112143;

  --color-odd-row: #3b4766;
  --color-even-row: #424f6f;
  --color-row-hover: #536182;
  --color-highlighted: #617194;
  --color-highlighted-transparent: #6171941f;
  --color-highlighted-text: #ffffff;
  --color-input-text: #222222;
  --color-sheet-title: #f2f3f7;

  --color-entry-header-text: #919dbf;
  --color-entry-text: #cccfd6;
  --color-entry-checkbox: #ffffff;
  --color-entry-field-type: #535d73;
  --color-entry-details-background: #22274570;
  --color-entry-details-background-mobile: #181c31;
  --color-entry-details-field: #545b883b;
  --color-entry-details-field-bg: #111229;

  --color-glass: #b8baf61c;
  --color-border: #060610;

  --color-menu-plus: #ffffff;

  --color-undenary: #374b68;
  --color-duodenary: #4d4f5783;

  --color-green: #9ad7b7;
  --color-green-toast: #276f4a;
  --color-green-toast-icon-primary: #276f4a;
  --color-green-toast-icon-secondary: #9ad7b7;
  --color-yellow: #fac70d;
  --color-red: #d79a9a;
  --color-red-toast: #814444;
  --color-red-toast-icon-primary: #814444;
  --color-red-toast-icon-secondary: #d79a9a;

  color: var(--color-text);
  background: var(--color-background);
  background: -moz-linear-gradient(12deg, rgba(13,14,29,1) 12%, rgba(31,34,62,1) 100%);
  background: -webkit-linear-gradient(12deg, rgba(13,14,29,1) 12%, rgba(31,34,62,1) 100%);
  background: linear-gradient(12deg, rgba(13,14,29,1) 12%, rgba(31,34,62,1) 100%);


  height: 100%;
  width: 100%;

  transition:
  background-color 1000ms ease,
  background 1000ms ease,
  border-color 1000ms ease;
  
}

html {
  font-family: var(--global-font);
  font-size: var(--font-size-body);
  font-weight: var(--global-font-weight);

  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100%;
  min-width: 320px;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

#page {
  height: 100%;
  width: calc(100% - 6rem);
  margin-left: 5.5rem;
  transition: all var(--global-transition-speed) ease;
  /* display: flex; */
  /* justify-content: center; */
  /* padding-left: 2rem; */
  /* padding-top: 4rem; */
}

button {
  font-family: var(--global-font);
  font-weight: var(--global-font-weight);
}

input {
  font-family: var(--global-font);
  font-weight: var(--thin);
}

html ::-webkit-scrollbar {
  display: none;
}

.pointer {
  cursor: pointer;
}

.fill {
  height: 100vh;
  width: 100vw;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
}

.z-index-800 {
  z-index: 800;
}

textarea:focus, input:focus{
  outline: none;
}

.toast {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-text-menu);
  font-size: var(--font-size-body);
}

.no-wrap {
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toaster {
  height: calc(100% - 3rem);
  margin-left: 5rem;
;
}

.page-cover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  background: var(--color-cover);
  /* background: #272a3035; */
}

.portal-cover {
  background-color: var(--color-cover);
  z-index: 1400;
  cursor: pointer;
}

.login-screen {
  background-color: #ffffff;
  color: #1c1c1c;
}

.p1login {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p1login .mainimg {
  display: block;
  height: auto;
  width: 90vw;
  max-width: 900px;
}

.p1login .mainimg-mobile {
  display: none;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80vw;
}

.signout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--bold);
  color: var(--color-text);
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  min-width: 6rem;
  background-color: var(--color-background);
  box-shadow: 0 0 4px 0 var(--global-box-shadow-color);
  border: 0;
  border-radius: var(--global-border-radius);
  cursor: pointer;
  margin: 5rem;
  margin-bottom: 1rem;
}

.signout-btn span {
  padding: 0 1rem;
}

.p1login .signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #000000;
  font-weight: var(--bold);
  top: 37%;
  left: 60.5%;
  min-width: 164px;
  max-width: 30%;
  padding: 0.8rem 1.6rem;
  font-size: max(0.5rem, 0.8rem);
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 var(--global-box-shadow-color);
  border: 0;
  border-radius: var(--global-border-radius);
  cursor: pointer;
}

.p1login .signin-btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #000000;
  font-weight: var(--bold);
  top: 37%;
  left: 60.5%;
  margin-top: 4.5rem;
  min-width: 164px;
  max-width: 30%;
  padding: 1.2rem 1.6rem;
  font-size: max(0.5rem, 0.8rem);
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 var(--global-box-shadow-color);
  border: 0;
  border-radius: var(--global-border-radius);
  cursor: pointer;
}

.p1login span {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.index-welcome-container {
  transition: all var(--global-transition-speed) ease;
}

#page.extend .index-welcome-container {
  transform: translateX(-23rem);
  opacity: 0;
  transition: all var(--global-transition-speed-fast) ease-in-out;
}

.index-app {
  z-index: 404;
  transition: all var(--global-transition-speed) ease;
}

#page.extend .index-app {
  transform: translateX(calc(-50vw + 26rem)) scale(1.25);
  transition: all var(--global-transition-speed) ease;
}

.index-welcome {
  font-size: var(--font-size-heading);
  font-weight: var(--bold);
  /* margin-top: 12rem; */
  margin-bottom: -1rem;
  color: var(--color-quinary-bright);
  background-image: url('../_assets/img/dod-seal.png');
}

.index-app {
  font-size: var(--font-size-massive);
  font-weight: var(--heavy);
  color: var(--color-primary);
}

#dark .index-app {
  font-size: var(--font-size-massive);
  font-weight: var(--heavy);
  color: #eaecf1;
}

.index-name {
  font-size: var(--font-size-big);
  font-weight: var(--medium);
  color: var(--color-quinary-off-bright);
  letter-spacing: -2px;
}

.not-found {
  font-size: var(--font-size-big);
  font-weight: var(--bold);
  color: var(--color-quinary-off-bright);
  margin-bottom: -0.8rem;
}

#page.extend .dod-img {
  transform: translateX(23rem);
  opacity: 0;
  transition: all var(--global-transition-speed-fast) ease;
}

.dod-img {
  padding-right: 1rem;
  transition: all var(--global-transition-speed) ease;
}

.intro-tooltip {
  display: flex !important;
  left: 6.4rem !important;
  align-items: center;
  z-index: 20000;
  animation-duration: 1400ms;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all var(--global-transition-speed) ease;
}

#page.extend .intro-tooltip {
  left: 30rem !important;
  z-index: 20000;
  transition: all var(--global-transition-speed) ease;
}

.intro-tooltip svg {
  height: auto;
  width: 2rem;
  transition: all var(--global-transition-speed) ease;
}

.intro-tooltip svg path {
  fill: var(--color-sheet-title) !important;
  transition: all var(--global-transition-speed) ease;
}

.entry-tooltip {
  display: flex !important;
  right: 14rem !important;
  align-items: center;
  z-index: 400;
  animation-duration: 1400ms;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all var(--global-transition-speed) ease;
}

#page.extend .entry-tooltip {
  /* right: 30rem !important;
  z-index: 20000; */
  transition: all var(--global-transition-speed) ease;
}

.entry-tooltip svg {
  height: auto;
  width: 2rem;
  transition: all var(--global-transition-speed) ease;
}

.entry-tooltip svg path {
  fill: var(--color-sheet-title) !important;
  transition: all var(--global-transition-speed) ease;
}
.entry-tooltip span {
  height: auto;
  color: var(--color-sheet-title);
  padding-right: 0.8rem;
  font-weight: var(--bold);
  transition: all var(--global-transition-speed) ease;
}

.sheet-display-container.shrink ~ .entry-tooltip {
  opacity: 0;
  transition: all var(--global-transition-speed-fast) ease;
}

.entry-tooltip.hide {
  display: none !important;
}


@keyframes slidein {
  from {
    transform: translateX(0.8rem);
  }
  
  to {
    transform: translateX(0rem);
  }
}

.intro-tooltip span {
  height: auto;
  color: var(--color-sheet-title);
  padding-left: 0.8rem;
  font-weight: var(--bold);
  transition: all var(--global-transition-speed) ease;
}

.intro-tooltip.hide {
  display: none !important;
}

.home-lite {
  display: block;
  align-self: center;
}

#dark .home-lite {
  display: none;
  align-self: center;
}

.home-dark {
  display: none;
  align-self: center;
}

#dark .home-dark {
  display: block;
  align-self: center;
}

.sheet-options-menu-container {
  max-height: 386px;
  overflow-y: scroll;
}


.prime-logo {
  display: none;
}

.prime-logo-lite {
  display: inline-block;
}

#dark .prime-logo-lite {
  display: none;
}

#dark .prime-logo {
  display: inline-block;
}

.modal-cover {
  background-color: #14142785;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999999999;
}

#lite .modal-cover {
  background-color: #ededf985;
}

.modal {
  margin: 2rem;
  max-width: 32rem;
  background: rgb(33,37,62);
  background: -moz-linear-gradient(12deg, rgba(33,37,62,1) 0%, rgba(49,56,92,1) 80%);
  background: -webkit-linear-gradient(12deg, rgba(33,37,62,1) 0%, rgba(49,56,92,1) 80%);
  background: linear-gradient(12deg, rgba(33,37,62,1) 0%, rgba(49,56,92,1) 80%);
  border-radius: var(--global-border-radius);
  box-shadow: 0 12px 36px 0 var(--global-box-shadow-color);
  transition: all var(--global-transition-speed) ease;
}

#lite .modal {
  background: rgb(81,89,133);
  background: -moz-linear-gradient(12deg, rgba(81,89,133,1) 0%, rgba(119,127,168,1) 80%);
  background: -webkit-linear-gradient(12deg, rgba(81,89,133,1) 0%, rgba(119,127,168,1) 80%);
  background: linear-gradient(12deg, rgba(81,89,133,1) 0%, rgba(119,127,168,1) 80%);
}

.modal-header {
  border-top-left-radius: var(--global-border-radius);
  border-top-right-radius: var(--global-border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem 1rem 2rem;
  /* background-color: var(--color-secondary); */
}

.modal-header-title {
  color: var(--color-quinary);
  font-weight: var(--thick);
  font-size: var(--font-size-subheading);
  margin-left: 0.2rem;
}

#lite .modal-header-title {
  color: var(--color-quinary-bright);
}

.modal-body {
  /* background-color: var(--color-secondary); */
  display: flex;
  flex-direction: column;
  /* padding: 0rem 1.5rem 0rem 1.5rem; */
  border-bottom-left-radius: var(--global-border-radius);
  border-bottom-right-radius: var(--global-border-radius);
} 

.modal-body-message {
  padding: 0rem 2.2rem;
  color: var(--color-text-menu);
  font-weight: var(--body);
  font-size: var(--font-size-body);
}

.modal-tooltip {
  display: flex;
  align-self: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2rem;
  border-radius: 50rem;
  margin-top: -1rem;
  color: var(--color-text-menu);
  background-color: #00000091;
  font-weight: var(--thin);
  font-size: var(--font-size-body);
  text-align: center;
  box-shadow: 0 12px 36px 0 var(--global-box-shadow-color);
}

#lite .modal-tooltip {
  background-color: #0e1226cc;
}

.modal-body-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

.modal-body-button-cancel {
  border-radius: var(--global-border-radius);
  padding: 0.8rem 1.4rem;
  margin-right: 1rem;
  color: var(--color-text-menu);
  cursor: pointer;
  transition: all var(--global-transition-speed) ease;
}

.modal-body-button-cancel:hover {
  background-color: var(--color-highlighted-transparent);
  transition: all var(--global-transition-speed) ease;
}

.modal-body-button-confirm {
  background-color: var(--color-even-row);
  /* background-color: var(--color-quaternary); */
  border-radius: var(--global-border-radius);
  padding: 0.8rem 1.4rem;
  cursor: pointer;
  transition: all var(--global-transition-speed) ease;
}

.modal-body-button-confirm:hover {
  background-color: var(--color-highlighted);
  transition: all var(--global-transition-speed) ease;
}

#lite .modal-body-button-confirm {
  color: var(--color-sheet-title);
}

#lite .modal-body-button-confirm:hover {
  color: var(--color-text-menu);
}

input[type="date"]::-webkit-calendar-picker-indicator{
  filter: invert(17%) sepia(11%) saturate(2807%) hue-rotate(185deg) brightness(99%) contrast(89%);
}

input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(17%) sepia(11%) saturate(2807%) hue-rotate(185deg) brightness(99%) contrast(89%);
}

#dark input[type="checkbox"] {
  filter: invert(100%);
}

#dark input[type="checkbox"]:checked {
  background-color: #eeedd6;
}

#dark input[type="checkbox"] {
  background-color: #eeedd6;
}

#dark input[type="date"]::-webkit-calendar-picker-indicator{
  filter: invert(100%);
}

#dark input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(100%);
}


/* SMALL SCREENS */

@media only screen and (max-width: 767px) {

  .page-navigation.no-select {
    display: none;
  }

  #page {
    height: calc(100% - 4rem);
    width: 100vw;
    margin: 0rem;
    padding: 0rem;
  }

  #main.sidebar {
    bottom: 0;
    width: 100%;
    height: 4rem;
  }

  #main .sidebar-header, #main .sidebar-footer {
    border-radius: 0;
    background-color: var(--color-secondary);
    min-height: 100%;
    cursor: pointer;
  }

  #main .sidebar-header-link {
    width: 100%;
    justify-content: center;
  }

  #main .sidebar-footer-link {
    width: 100%;
    justify-content: center;
  }

  #main .sidebar-footer-theme-toggle {
    display: none;
  }

  #main .sidebar-main {
    display: none;
  }

  #main .sidebar-sheet:focus {
    display: flex;
    align-items: center;
  }

  #main .sidebar-container {
    flex-direction: row;
    background-color: var(--color-secondary);
  }

  #main.sidebar {
    border-top: 4px solid var(--color-primary);
    z-index: 1000;
  }

  .p1login .mainimg {
    display: none;
    height: auto;
    width: 80vw;
    max-width: 900px;
  }

  .p1login .mainimg-mobile {
    display: block;
    padding-bottom: 1rem;
  }

  .p1login .signin-btn {
    display: flex;
    align-items: center;
    position: relative;
    color: #000000;
    left: 3vw;
    bottom: 0.5rem;
    width: 64%;
    max-width: 42%;
    padding: 2vw 4vw 2vw 4vw;
    font-size: 2.5vw;
    top: unset;
  }

  .p1login .signin-btn2 {
    display: flex;
    align-items: center;
    position: relative;
    color: #000000;
    left: 3vw;
    bottom: 0.5rem;
    width: 64%;
    margin-top: 1.2rem;
    max-width: 42%;
    padding: 1.2rem 1.2rem;
    font-size: 2.5vw;
    top: unset;
  }

  .p1login span {
    padding-left: 0.8rem;
  }

  .dod-img {
    display: none !important;
  }

  .toaster {
    height: calc(100% - 7rem);
    margin-left: 0;
    z-index: 120000 !important;
  }

  .sidebar-header-text {
    display: none;
    opacity: 1;
  }

  #main .sidebar-footer-link-text {
    display: none;
    padding-left: 1rem;
  }

}


/* LARGE SCREENS */

@media only screen and (min-width: 768px) {

  /* .sidebar * {
    transition: all var(--global-transition-speed) ease;
  } */

  #page.extend  {
    height: 100%;
    width: calc(100% - 6rem);
    margin-left: 29rem;
    transition: all var(--global-transition-speed) ease;
  }

  .page-cover.show {
    display: block;
    opacity: 1;
    z-index: 404;
    -webkit-animation: fadeIn var(--global-transition-speed) ease-out;
    -moz-animation: fadeIn var(--global-transition-speed) ease-out;
    -o-animation: fadeIn var(--global-transition-speed) ease-out;
    animation: fadeIn var(--global-transition-speed) ease-out;
  }

  .sidebar-header-add-sheet:hover {
    background-color: var(--color-quaternary);
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar-add-entry-btn {
    display: none;
  }

  #main .sidebar-sheet-item:hover .sidebar-sheet-menu {
    display: block;
    opacity: 1;
    -webkit-animation: fadeIn var(--global-transition-speed) ease-out;
    -moz-animation: fadeIn var(--global-transition-speed) ease-out;
    -o-animation: fadeIn var(--global-transition-speed) ease-out;
    animation: fadeIn var(--global-transition-speed) ease-out;
  }

  .sidebar-sheet:hover {
    background: var(--color-tertiary);
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar-footer-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    width: 0;
    /* padding-left: 1.2rem; */
    /* justify-content: center; */
    color: var(--color-text-menu);
    height: 100%;
    flex-grow: 1;
    margin-left: 1.2rem;
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar-footer-link-text {
    width: 0;
    opacity: 0;
    flex-grow: 2;
  }

  .sidebar-footer:hover {
    background: var(--color-tertiary);
  }

  .sidebar {
    top: 0;
    width: 5rem;
    height: calc(100vh - 6rem);
    padding: 3rem 0.5rem 3rem 0rem;
    z-index: 405;
  }

  .sidebar:hover .sidebar-sheet {
    width: 100%;
  }

  .sidebar:hover {
    width: 28rem;
    padding-right: 6rem;
  }

  .sidebar:hover .sidebar-header-link {
    padding-left: 1.45rem;
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar:hover .sidebar-header {
    justify-content: space-between;
  }

  .sidebar:hover .sidebar-header-logo {
    margin-left: 0.5rem;
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar:hover .sidebar-header-text {
    opacity: 1;
    /* display: inline; */
    transition: var(--global-transition-speed);
    transition-delay: 50ms;
  }

  .sidebar:hover .sidebar-header-add-sheet {
    display: inline;
  }

  .sidebar:hover .sidebar-sheet-item {
    justify-content: space-between;
    transition: all var(--global-transition-speed) ease;
    min-height: 58px;;
  }

  .sidebar:hover .sidebar-sheet-circle {
    margin-left: 1.4rem;
    transition: all var(--global-transition-speed) ease;
  }
  
  .sidebar:hover .sidebar-sheet-link-text {
    /* display: inline; */
    opacity: 1;
    transition: all var(--global-transition-speed-fast) ease;
  }

  .sidebar:hover .sidebar-footer {
    justify-content: start;
  }

  .sidebar:hover .sidebar-footer-link {
    margin-left: 1.75rem;
    padding-left: 0rem;
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar:hover .sidebar-footer-link img {
    transition: all var(--global-transition-speed) ease;
  }

  .sidebar:hover .sidebar-footer-link-text {
    opacity: 1;
    transition: opacity var(--global-transition-speed) ease;
    transition-delay: 50ms;
  }

  .sidebar:hover .sidebar-footer-theme {
    display: flex;
    width: auto;
    opacity: 1;
    transition: opacity var(--global-transition-speed) ease;
    transition-delay: 50ms;
  }

  .sidebar:hover ~ #page .entry-details-container {
    transform: translateX(+100%) !important;
  }

  .sidebar:hover ~ #page .user-lookup-container {
    transform: translateX(+100%) !important;
  }

  .sidebar:hover .sidebar-sheet-item-link {
    flex-grow: 1;
  }

}




















/* ANIMATIONS */

@-webkit-keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
    display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}
