.sheet-page {
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
  /* max-width: 1920px; */
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-user-select: text;
  user-select: text;
  justify-content: center;
}

.sheet-display-container {
  min-height: calc(100%);
  max-height: calc(100%);
  width: 100%;
  max-width: 2600px;
  overflow: visible;
  /* border: 1px solid black; */
  border-radius: var(--global-border-radius);
  transition: all var(--global-transition-speed) ease;
}

.sheet-display-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: inherit;
}

.sheet-display-body {
  border-top-left-radius: var(--global-border-radius);
  border-top-right-radius: var(--global-border-radius);
  /* border-bottom-left-radius: 1rem; */
  /* border-bottom-right-radius: 1rem; */
  min-height: calc(4.5rem);
  max-height: calc(100% - 4.2rem);
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: var(--global-border-radius) var(--global-border-radius) 6px 6px;
  box-shadow: 0 2px 6px 0 var(--global-box-shadow-color);
  z-index: 400;
  cursor: grab;
  margin-top: 1rem;
}

.sheet-display-body::-webkit-scrollbar {
  display: block;
  width: 0rem;
  overflow: auto;
  height: 0.7em;
  cursor: pointer;
}

.sheet-display-body::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 1rem;
  cursor: pointer;
}

.sheet-display-body::-webkit-scrollbar-track {
  background: var(--color-primary);
  border-radius: 1rem;
  margin: 0rem;
  cursor: pointer;
}

.sheet-display-body tbody {
  font-weight: var(--thin);
}

.sheet-title {
  padding-left: 1rem;
}

.sheet-header-meta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* max-width: 300px; */
  padding-left: 1rem;
  max-height: 4rem;
  overflow-y: hidden;
  /* padding: 1rem 2rem; */
  padding-right: 0rem;
}

.sheet-search {
  display: flex;
  /* max-width: 300px; */
  padding-right: 1rem;
}


.sheet-display-header img {
  height: 40px;
  width: 40px;
  margin: 1rem;
  content: url('../_assets/img/logo.png');
}

.sheet-display-header span {
  font-size: var(--font-size-subheading);
  font-weight: var(--bold);
  color: var(--color-sheet-title);
  white-space: pre;
}

.sheet-search {
  border-radius: var(--global-border-radius);
}

.search-element {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  /* padding-left: 1rem; */
}

.search-element-input {
  font-size: var(--font-size-body-large);
  background-color: var(--color-secondary);
  font-weight: var(--body);
  border: 0;
  color: var(--color-text-menu);
  width: 11rem;
  max-width: 11rem;
  height: 35.5px;
  border-radius: var(--global-border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.4rem;
  margin: 0px 0px;
  padding-left: 1rem;
  padding-right: 1.5rem;
  margin-right: -1.5rem;
}

.search-element-input::placeholder {
  color: #63799f;
}

.search-element-field-select {
  background-color: var(--color-background);
  color: var(--color-text);
  border: thin solid var(--color-quaternary);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.85em 3.5em 0.85em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-image:
  var(--arrow-down),
  linear-gradient(to right, var(--color-quaternary), var(--color-quaternary));
  background-position:
  calc(100% - 10px) 1.0em,
  calc(100% - 2.5em) 0.8em;
  background-size:
  16px 16px,
  1px 1.5em;
  background-repeat: no-repeat;
  margin-left: 2rem;
}

.search-element-field-select:focus{
  background-image:
  var(--arrow-up),
  linear-gradient(to right, var(--color-quinary), var(--color-quinary));
  background-position:
    calc(100% - 10px) 1.0em,
    calc(100% - 2.5em) 0.8em;
  background-size:
    16px 16px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: var(--color-tertiary);
  outline: 0;
}

tr:nth-child(odd), tr:nth-child(odd) .entry-row-option {
  background: var(--color-odd-row);
  transition: all var(--global-transition-speed-fast) ease;
}

tr:nth-child(even), tr:nth-child(even) .entry-row-option {
  background: var(--color-even-row);
  transition: all var(--global-transition-speed-fast) ease;
}

.filter-button {
  font-size: var(--font-size-body-large);
  font-weight: var(--body);
  color: rgb(95, 95, 95);
  width: 120px;
  height: 47px;
  background-color: lightgray;
  border: none;
}

.sheet-display-table thead tr td:last-of-type {
  border-top-right-radius: var(--global-border-radius);
}

/* THEAD POINTER */
.sheet-display-table thead tr td {
  background-color: var(--color-secondary);
  cursor: pointer;
}

.sheet-display-table {
  position: relative;
  border-collapse: separate;
  white-space: nowrap;
  width: 100%;
  border-spacing: 0;
  /* border-bottom: 4px solid var(--color-primary); */
  box-shadow: 0 2px 6px 0 var(--global-box-shadow-color);
  z-index: 400;
}

.sheet-display-cell {
  padding: 18px;
  font-size: var(--font-size-body);
  color: var(--color-text);
}

thead .sheet-display-cell {
  color: var(--color-text-menu);
  border-bottom: 3px solid var(--color-border);
}

.sheet-display-table thead {
  font-size: var(--font-size-body-large);
  font-weight: var(--thick);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sheet-display-table tbody tr:last-of-type {
  border-bottom: 4px solid var(--color-border);
}

tbody .sheet-display-cell {
  cursor: pointer;
}

/* .field, .value {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 30px;
  max-height: 30px;
} */

.entry-row:hover {
  background-color: var(--color-row-hover);
}
.entry-row:hover .entry-row-option {
  background-color: var(--color-row-hover);
}

.dummy-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  border-radius: 90px;
  background-color: var(--color-tertiary);
  bottom: 3rem;
  right: 1rem;
  transition: all var(--global-transition-speed) ease;
  box-shadow: 0 0 8px 0 var(--global-box-shadow-color);
  cursor: pointer;
  height: 1.8rem;
  padding: 0.4rem;
  margin: -30px -5px;
  z-index: 400;
}

.sheet-display-container.shrink .new-entry {
  transition: all var(--global-transition-speed) ease;
  opacity: 0;
}

.new-entry {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  height: 52px;
  /* width: 64px; */
  border-radius: var(--global-border-radius);
  background-color: var(--color-quaternary);
  bottom: 1.2rem;
  right: 3.2rem;
  transition: all var(--global-transition-speed) ease;
  box-shadow: 0 2px 6px 0 var(--global-box-shadow-color);
  cursor: pointer;
  z-index: 400;
}

.new-entry span {
  color: var(--color-text-menu);
  font-weight: var(--bold);
  padding-left: 1rem;
  padding-right: 0.6rem;
}

.new-entry img {
/* content: var(--edit-dark); */
content: var(--row-add);
  height: 1.5rem;
  padding-right: 1rem;
  /* margin: 15px 10px; */
}

.new-entry:hover {
  background-color: var(--color-quaternary);
}

.entry-row-option {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  /* background-color: #ffffff; */
  padding-right: 0rem;
  font-weight: 1000;
  font-size: 2rem;
  color: var(--color-quinary);
  text-align: center;
  cursor: pointer;
}

.sheet-checkbox {
  min-height: 1.5rem;
  max-height: 1.5rem;
  min-width: 1.5rem;
  max-width: 1.5rem;
  height: auto;
  border-radius: 3px;
  margin: 0;
  -webkit-appearance: none;
  vertical-align: middle;
  background-color: #d8dce7;
}

.sheet-checkbox:checked {
  /* background-color: var(--color-primary); */
  content: url('../_assets/icons/checkmark.svg');
}

.dummy-users-button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  border-radius: 90px;
  background-color: var(--color-tertiary);
  bottom: 8.4rem;
  right: 1.2rem;
  transition: all var(--global-transition-speed) ease;
  box-shadow: 0 0 8px 0 var(--global-box-shadow-color);
  cursor: pointer;
  z-index: 400;
}

.dummy-users-button img{
  content: url('../_assets/icons/account.png');
  height: 1.8rem;
  padding: 0.4rem;
  margin: 15px 10px;
}

tr:nth-child(odd).entry-highlighted, tr:nth-child(odd).entry-highlighted .entry-row-option {
  background-color: var(--color-highlighted);
  transition: all var(--global-transition-speed-fast) ease;
}

tr:nth-child(even).entry-highlighted, tr:nth-child(even).entry-highlighted .entry-row-option {
  background-color: var(--color-highlighted);
  transition: all var(--global-transition-speed-fast) ease;
}

.entry-highlighted .sheet-display-cell, .entry-highlighted .entry-row-option {
  color: var(--color-text-menu);
  /* font-weight: var(--bold); */
}

.entry-qr-code {
  box-shadow: 0 0.5rem 1.5rem 0 var(--global-box-shadow-color);
  border: 20px solid white;
  border-radius: 1rem;
}

.qr-code {
  opacity: 0;
  transition: all var(--global-transition-speed) ease;
  z-index: 1401;
  cursor: pointer;
}

.qr-code.visible {
  transform: translateX(-50%) translateY(calc(-50vh - 85rem));
  opacity: 1;
  transition: all var(--global-transition-speed) ease;
}

.flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* .sort-arrow {
  font-size: 0.6rem;
  margin-left: 0.3rem;
  margin-top: -0.12rem;
  transition: all var(--global-transition-speed) ease;
} */

.menu-filter-options {
  margin-top: 0.8rem;
}

.menu-filter-options:first-child {
  margin-top: 0rem;
}

.menu-filter-options .sheet-options-menu-item {
  padding: 1rem 1.7rem;
}

.filter-button {
  background-color: var(--color-secondary);
  color: var(--color-text-menu);
  border: 0;
  border-radius: var(--global-border-radius);
  /* border-top-left-radius: 0;
  border-bottom-left-radius: 0; */
  cursor: pointer;
  transition: all var(--global-transition-speed-fast) ease;
}


.filter-button:before {
  height: 1.4rem;
  width: 1.4rem;
  background-image: url('../_assets/icons/menu-filter.svg');
  background-size: 1.4rem 1.4rem;
  margin-bottom: -0.3rem;
  margin-left: -0.4rem;
  margin-right: 0.4rem;
  display: inline-block;
  content:"";
  background-repeat: no-repeat;
}

.menu-filter-options .filter-button.filter-selected {
  background-color: var(--color-primary);
  color: var(--color-text-menu);
  border: 0;
  border-radius: var(--global-border-radius);
  cursor: pointer;
  transition: all var(--global-transition-speed-fast) ease;
}

.filter-button.filter-on {
  background-color: var(--color-quaternary);
}

.filter-button.filter-on:before {
  height: 1.4rem;
  width: 1.4rem;
  background-image: url('../_assets/icons/menu-filter-on.svg');
  background-size: 1.4rem 1.4rem;
  margin-bottom: -0.3rem;
  margin-left: -0.4rem;
  margin-right: 0.4rem;
  display: inline-block;
  content:"";
  background-repeat: no-repeat;
}

.sheet-options-menu-container {
  min-width: 200px;
}

.sheet-options-menu-container .sheet-options-menu-item.break:hover {
  background-color: var(--color-secondary);
}

.sheet-page .sheet-options-menu-container .sheet-options-menu-item.break:hover {
  background-color: var(--color-secondary);
}

.menu-filter-options .sheet-options-menu-item span {
  flex-grow: 0;
}

.sheet-options-menu-item.filter-item-selected {
  background-color: var(--color-quaternary);
}

#page .entry-row.archived:nth-child(odd) {
  background-color: #eacbd0;
}

#page .entry-row.archived:nth-child(even) {
  background-color: #f6dce0;
}

#page tr.entry-row.archived:nth-child(odd) .entry-row-option {
  background-color: #eacbd0;
  color: #602934;
}
#page tr.entry-row.archived:nth-child(even) .entry-row-option {
  background-color: #f6dce0;
  color: #602934;
}

#dark #page .entry-row.archived:nth-child(odd) {
  background-color: #9a5967;
}

#dark #page .entry-row.archived:nth-child(even) {
  background-color: #a36672;
}

#dark #page tr.entry-row.archived:nth-child(odd) .entry-row-option {
  background-color: #9a5967;
  color: #602934;
}
#dark #page tr.entry-row.archived:nth-child(even) .entry-row-option {
  background-color: #a36672;
  color: #602934;
}

#dark #page .entry-row .archived .sheet-display-cell {
  color: #fff;
}

.check-option {
  width: 100%;
  text-align: left;
}

.filter-item-selected .check {
  height: 1.4rem;
  width: 1.4rem;
  padding-right: 0.5rem;
  background-image: url('../_assets/icons/menu-filter-on.svg');
  background-size: 1.4rem 1.4rem;
  margin-left: 1rem;
  margin-right: -0.3rem;
  display: inline-block;
  content:"";
  background-repeat: no-repeat;
}

.menu-filter-options .no-check {
  height: 1.4rem;
  width: 1.4rem;
  padding-right: 0.5rem;
  background-image: url('../_assets/icons/menu-filter.svg');
  background-size: 1.4rem 1.4rem;
  margin-left: 1rem;
  margin-right: -0.3rem;
  display: inline-block;
  content:"";
  background-repeat: no-repeat;
}

#archive-false.filter-item-selected .check {
  height: 1.4rem;
  width: 1.4rem;
  padding-right: 0.5rem;
  background-image: url('../_assets/icons/menu-filter-on.svg');
  background-size: 1.4rem 1.4rem;
  margin-left: 1rem;
  margin-right: -0.3rem;
  display: inline-block;
  content:"";
  background-repeat: no-repeat;
}

#archive-false {
  display: none;
}

#sheet-page.sheet-modify-icon {
  height: 47px;
  min-height: 47px;
  width: 47px;
  min-width: 47px;
  color: #ffffff;
}

/* .sheet-display-cell svg {
  width: 3rem;
    min-width: 3rem;
    margin-top: -0.3rem;
    margin-right: 0.15rem;
    height: auto;
    fill: var(--color-quinary);
} */

.sheet-display-cell svg {
  display: none;
}

.sheet-display-cell .sort-arrow-up:after {
  height: 1.4rem;
  width: 1.4rem;
  background-image: url('../_assets/icons/sort-up.svg');
  background-size: 1.4rem 1.4rem;
  padding-right: 1.5rem;
  margin-left: 0.6rem;
  display: inline;
  content: "";
  background-repeat: no-repeat;
}

.sheet-display-cell .sort-arrow-down:after {
  height: 1.4rem;
  width: 1.4rem;
  background-image: url('../_assets/icons/sort-down.svg');
  background-size: 1.4rem 1.4rem;
  padding-right: 1.5rem;
  margin-left: 0.6rem;
  display: inline;
  content: "";
  background-repeat: no-repeat;
}

#page.extend .new-entry {
  opacity: 0;
}

#page.extend .entry-tooltip {
  opacity: 0;
}

.sheet-modify-icon {
  text-transform: uppercase;
}

#page.extend .page-navigation {
  margin-left: 23.5rem;
}

.sheet-display-container.shrink .page-navigation {
  padding-right: 28rem;
}

.sidebar-sheet-menu {
  padding: 1rem;
}

.page-navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  left: calc(50% + 2rem);
  transform: translateX(-50%);
  transition: all var(--global-transition-speed) ease;
  z-index: 401;
  bottom: 1.75rem;
}

.page-navigation button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.8rem 1.3rem;
  margin: 0 0.4rem;
  background-color: var(--color-text-menu);
  border-radius: var(--global-border-radius);
  box-shadow: 0 1px 4px 0 var(--global-box-shadow-color);
  cursor: pointer;
}

#dark .page-navigation button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--color-primary);
  border-radius: var(--global-border-radius);
  box-shadow: 0 1px 4px 0 var(--global-box-shadow-color);
  cursor: pointer;
}

.page-navigation .page-down-double img.two {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0rem;
  content: var(--icon-back);
}
.page-navigation .page-down-double img {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: -1rem;
  content: var(--icon-back);
}

.page-navigation .page-down img {
  height: 1.4rem;
  width: 1.4rem;
  content: var(--icon-back);
}

.page-navigation .page-up img {
  height: 1.4rem;
  width: 1.4rem;
  content: var(--icon-forward);
}

.page-navigation .page-up-double img.two {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0rem;
  content: var(--icon-forward);
}
.page-navigation .page-up-double img {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: -1rem;
  content: var(--icon-forward);
}

.page-navigation span {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  /* padding: 0 1rem; */
  font-size: var(--font-size-body-large);
  font-weight: var(--thick);
  color: var(--color-sheet-title);
  white-space: pre;
}


/* SMALL SCREENS */

@media only screen and (max-width: 767px) {
  
  .sheet-page {
    padding: 0;
    max-height: calc(100%);
  }

  .sheet-title {
    display: none;
  }

  .sheet-header-icon {
    display: none;
  }

  .sheet-search {
    padding-right: 1rem;
  }

  .search-element {
    padding-left: 0rem;
  }

  .filter-button {
    content: '' !important;
  }

  .sheet-display-body {
    border-radius: 0;
    min-height: calc(100% - 5rem); 
    max-height: calc(100% - 5rem);
  }

  .sheet-display-container {
    min-height: unset;
    border-radius: 0;
  }

  .new-entry {
    display: none;
  }

  .sheet-display-body {
    margin: 0;
  }

  .sheet-display-body::-webkit-scrollbar {
    display: none;
  }

  .entry-row-option {
    padding-right: 1rem;
  }

  .sheet-display-table thead tr td:last-of-type {
    border-top-right-radius: 0;
  }

  .sheet-display-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: inherit;
    height: 5rem;
  }

}




/* LARGE SCREENS */

@media only screen and (min-width: 768px) {

  .sheet-header-icon {
    display: none;
  }

  .sheet-display-container.shrink {
    width: calc(100% - 365px);
    /* margin-right: 1.5rem; */
    padding-right: 28rem;
    transition: all var(--global-transition-speed) ease;
  }

  .sheet-page {
    height: calc(100% - 8rem);
    max-height: calc(100% - 8rem);
  }

}


