.field-label {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.handle-fields {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  background-color: var(--color-tertiary);
  border: none;
  border-radius: 90px;
  color: white;
  font-size: var(--font-size-big);
  font-weight: 500;
  box-shadow: 0 0 8px 0 var(--global-box-shadow-color);
  transition: all var(--global-transition-speed) ease;
  z-index: 400;
  cursor: pointer;
}


.import-data {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  height: 52px;
  /* width: 64px; */
  border-radius: var(--global-border-radius);
  background-color: var(--color-tertiary);
  bottom: 6.2rem;
  right: 2rem;
  transition: all var(--global-transition-speed) ease;
  box-shadow: 0 2px 6px 0 var(--global-box-shadow-color);
  cursor: pointer;
  z-index: 400;
}

.import-data span {
  color: var(--color-text-menu);
  font-weight: var(--bold);
  padding-left: 1.4rem;
  padding-right: 0.6rem;
}

.import-data img {
  /* content: var(--edit-dark); */
  content: var(--upload-icon);
  height: 1.5rem;
  padding-right: 1.4rem;
  /* margin: 15px 10px; */
}

.import-data:hover {
  background-color: var(--color-quaternary);
}







.handle-fields {
  position: absolute;
  right: 0;
  bottom: 5.6rem;
}

.create-sheet:hover, .add-field:hover, .handle-fields:hover {
  background-color: var(--color-quaternary);
}

.add-field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: var(--color-tertiary);
  border: none;
  border-radius: 10px;
  color: white;
  margin: 0.5rem, 2rem;
  font-size: var(--font-size-big);
  font-weight: 500;
  box-shadow: 0 0 8px 0 var(--global-box-shadow-color);
  transition: all var(--global-transition-speed) ease;
  z-index: 400;
  cursor: pointer;
}


.sheet-modify-container {
  background-color: var(--color-entry-details-background);
  min-height: calc(100vh);
  max-height: calc(100vh);
  width: 100%;
  overflow: hidden;
  /* border: 1px solid black; */
  border-radius: var(--global-border-radius);
  transition: all var(--global-transition-speed) ease;
}

.meta {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sheet-modify-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: inherit;
  margin: 1rem 1rem;
  /* background-color: var(--color-entry-field-type); */
  border-radius: var(--global-border-radius);
  /* box-shadow: 0 1px 4px 0 var(--global-box-shadow-color); */
}

.sheet-modify-meta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 300px;
  padding: 1rem 1rem;
  padding-right: 0rem;
}

.sheet-modify-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  font-size: var(--font-size-body-large);
  font-weight: var(--bold);
  /* box-shadow: 0 1px 4px 0 var(--global-box-shadow-color); */
  transition: all var(--global-transition-speed) ease;
}

.sheet-modify-header img {
  height: 30px;
  width: 30px;
  margin: 1rem;
  content: url('../_assets/icons/edit.png');
}

.sheet-modify-icon input {
  font-size: var(--font-size-subheading);
  font-weight: 500;
  background-color: #00000000;
  color: #ffffff;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 0;
  border-radius: 8px;
  transition: all var(--global-transition-speed-fast) ease;
}

.sheet-modify-icon:focus-within {
  background-color: var(--color-tertiary);
  transition: all var(--global-transition-speed-fast) ease;
}

.sheet-modify-header .name {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-right: 1rem;
  transition: all var(--global-transition-speed-fast) ease;
}

.sheet-modify-header .name input {
  background-color: var(--color-entry-details-field-bg);
  color: var(--color-text-menu);
  font-size: var(--font-size-subheading);
  font-weight: var(--thick);
  width: 100%;
  /* max-width: 500px; */
  border: 0;
  border-radius: 50rem;
  padding: 0rem 2rem;
  text-align: left;
  height: 64px;
  margin-left: 1.25rem;
  /* box-shadow: 0 1px 4px 0 var(--global-box-shadow-color); */
  transition: all var(--global-transition-speed) ease;
}

.sheet-modify-header .name input:focus {
  background-color: var(--color-tertiary);
  transition: all var(--global-transition-speed-fast) ease;
}

.sheet-modify-header .name input::placeholder {
  color: var(--color-quaternary);
  transition: all var(--global-transition-speed-fast) ease;
}

.sheet-modify-header .sheet-modify-icon input::placeholder {
  /* display: flex; */
  font-size: var(--font-size-body);
  text-align: center;
  /* justify-self: center; */
  white-space: pre-wrap;
  color: var(--color-quaternary);
  position: relative;
  top: -0.7rem;
  padding-right: 0.1rem;
  padding-top: 1.55rem;
  /* line-height: 0px; */
  transition: all var(--global-transition-speed-fast) ease;
}

.sheet-modify-header .sheet-modify-icon:focus-within input::placeholder {
  color: #6379a000;
  transition: all var(--global-transition-speed-fast) ease;
}

.sheet-modify-body {
  display: flex;
  justify-content: flex-start;
  min-height: calc(100% - 8rem);
  max-height: calc(100% - 8rem);
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
}

.column {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(50% - 2rem);
  padding: 1rem;
  border-radius: var(--global-border-radius);
}

.column-title {
  color: var(--color-sheet-title);
  font-size: var(--font-size-subheading);
  font-weight: 600;
  padding: 0 0.5rem;
}

.input-short {
  border: 0;
  text-transform: uppercase;
}

.field-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.favorite-field{
  max-height: 2rem;
  max-width: 2rem;
}

.archive-field{
  max-height: 2rem;
  max-width: 2rem;
}

.delete-field{
  height: 2rem;
  content: url('../_assets/icons/delete-light.png');
}

.create-sheet {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  height: 52px;
  /* width: 64px; */
  border-radius: var(--global-border-radius);
  background-color: var(--color-tertiary);
  bottom: 2rem;
  right: 2rem;
  transition: all var(--global-transition-speed) ease;
  box-shadow: 0 2px 6px 0 var(--global-box-shadow-color);
  cursor: pointer;
  z-index: 400;
}

.create-sheet span {
  color: var(--color-text-menu);
  font-weight: var(--bold);
  padding-left: 1rem;
  padding-right: 0.6rem;
}

.create-icon img {
  /* content: var(--edit-dark); */
  content: var(--create-icon);
  height: 1.5rem;
  padding-right: 1rem;
  /* margin: 15px 10px; */
}

.save-icon img {
  /* content: var(--edit-dark); */
  content: var(--save-icon);
  height: 1.5rem;
  padding-right: 1rem;
  /* margin: 15px 10px; */
}

.create-sheet:hover {
  background-color: var(--color-quaternary);
}


.create-sheet {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}



.field-item input {
  background-color: var(--color-entry-details-field-bg);
  color: var(--color-text);
  border: none;
  /* margin: 5px; */
  padding: 0.8rem 1.5rem;
  margin-bottom: 1.4rem;
  border-radius: 6px;
  font-size: var(--font-size-body-large);
}

.field-item button {
  display: none;
}

.field-item select {
  background-color: var(--color-secondary);
  color: var(--color-text-menu);
  border-radius: 4px;
  border: 0;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
  var(--arrow-down),
  linear-gradient(to right, var(--color-quaternary), var(--color-quaternary));
  background-position:
    calc(100% - 10px) 0.6em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    16px 16px,
    1px 1.5em;
  background-repeat: no-repeat;
}





/* SMALL SCREENS */

@media only screen and (max-width: 767px) {

  .column {
    width: 100%;
  }

  .sheet-modify-body {
    min-height: calc(100% - 10rem);
    max-height: calc(100% - 10rem);
  }

  .sidebar-add-entry-btn.hide {
    display: none;
  }

  .import-data {
    bottom: 9.7rem;
    right: 1rem;
  }

  .create-sheet {
    bottom: 5.5rem;
    right: 1rem;
  }

}


/* LARGE SCREENS */

@media only screen and (min-width: 768px) {

}












/*  REMOVE BELOW AFTER DONE */
.sheet-modify-body {
  /* border: 1px solid red; */
  overflow: auto;
}

.sheet-modify-body::-webkit-scrollbar {
  display: block;
  width: 0rem;
  overflow: auto;
  height: 0.7em;
  cursor: pointer;
}

.sheet-modify-body::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 1rem;
  cursor: pointer;
}

.sheet-modify-body::-webkit-scrollbar-track {
  background: var(--color-quinary-bright);
  border-radius: 1rem;
  margin: 0rem;
  cursor: pointer;
} 







.debug-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 1rem 6rem;
}

.debug-title{
  width: 100%;
}

.debug-fields{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.debug-row{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.debug-row span{
  padding: 0 1rem 0 0;
}